@{
    ViewData["Title"] = "Setup Completed";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        @await Component.InvokeAsync("Header")
        <div class="well">
            <h3>Setup Completed!</h3>
        </div>
    </div>
</div>